<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>projetoCasamentoWeb</display-name>
  <welcome-file-list>
    <welcome-file>StartServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarNoivoServlet</display-name>
    <servlet-name>CadastrarNoivoServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.CadastrarNoivoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarNoivoServlet</servlet-name>
    <url-pattern>/CadastrarNoivoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnviarConviteServlet</display-name>
    <servlet-name>EnviarConviteServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.EnviarConviteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnviarConviteServlet</servlet-name>
    <url-pattern>/EnviarConviteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarNoivoServlet</display-name>
    <servlet-name>EditarNoivoServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.EditarNoivoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarNoivoServlet</servlet-name>
    <url-pattern>/EditarNoivoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarCasamentoServlet</display-name>
    <servlet-name>EditarCasamentoServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.EditarCasamentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarCasamentoServlet</servlet-name>
    <url-pattern>/EditarCasamentoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarCasamentoServlet</display-name>
    <servlet-name>DeletarCasamentoServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.DeletarCasamentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarCasamentoServlet</servlet-name>
    <url-pattern>/DeletarCasamentoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarNoivoServlet</display-name>
    <servlet-name>DeletarNoivoServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.DeletarNoivoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarNoivoServlet</servlet-name>
    <url-pattern>/DeletarNoivoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarTarefaServlet</display-name>
    <servlet-name>CadastrarTarefaServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.CadastrarTarefaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarTarefaServlet</servlet-name>
    <url-pattern>/CadastrarTarefaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarTarefaServlet</display-name>
    <servlet-name>EditarTarefaServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.EditarTarefaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarTarefaServlet</servlet-name>
    <url-pattern>/EditarTarefaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarTarefaServlet</display-name>
    <servlet-name>DeletarTarefaServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.DeletarTarefaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarTarefaServlet</servlet-name>
    <url-pattern>/DeletarTarefaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarConviteServlet</display-name>
    <servlet-name>CadastrarConviteServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.CadastrarConviteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarConviteServlet</servlet-name>
    <url-pattern>/CadastrarConviteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarConviteServlet</display-name>
    <servlet-name>EditarConviteServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.EditarConviteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarConviteServlet</servlet-name>
    <url-pattern>/EditarConviteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarConviteServlet</display-name>
    <servlet-name>DeletarConviteServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.DeletarConviteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarConviteServlet</servlet-name>
    <url-pattern>/DeletarConviteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarProfissionalServlet</display-name>
    <servlet-name>CadastrarProfissionalServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.CadastrarProfissionalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarProfissionalServlet</servlet-name>
    <url-pattern>/CadastrarProfissionalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarProfissionalServlet</display-name>
    <servlet-name>EditarProfissionalServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.EditarProfissionalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarProfissionalServlet</servlet-name>
    <url-pattern>/EditarProfissionalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarProfissionalServlet</display-name>
    <servlet-name>DeletarProfissionalServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.DeletarProfissionalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarProfissionalServlet</servlet-name>
    <url-pattern>/DeletarProfissionalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarServicoServlet</display-name>
    <servlet-name>CadastrarServicoServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.CadastrarServicoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarServicoServlet</servlet-name>
    <url-pattern>/CadastrarServicoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarServicoServlet</display-name>
    <servlet-name>DeletarServicoServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.DeletarServicoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarServicoServlet</servlet-name>
    <url-pattern>/DeletarServicoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarServicoServlet</display-name>
    <servlet-name>EditarServicoServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.EditarServicoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarServicoServlet</servlet-name>
    <url-pattern>/EditarServicoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContratarServico</display-name>
    <servlet-name>ContratarServico</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.ContratarServico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContratarServico</servlet-name>
    <url-pattern>/ContratarServico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcurarServico</display-name>
    <servlet-name>ProcurarServico</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.ProcurarServico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcurarServico</servlet-name>
    <url-pattern>/ProcurarServico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcurarProfissional</display-name>
    <servlet-name>ProcurarProfissional</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.ProcurarProfissional</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcurarProfissional</servlet-name>
    <url-pattern>/ProcurarProfissional</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarTarefas</display-name>
    <servlet-name>ListarTarefas</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.ListarTarefas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarTarefas</servlet-name>
    <url-pattern>/ListarTarefas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TesteServlet</display-name>
    <servlet-name>TesteServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.TesteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TesteServlet</servlet-name>
    <url-pattern>/TesteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarCasamentoServlet</display-name>
    <servlet-name>CadastrarCasamentoServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.CadastrarCasamentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarCasamentoServlet</servlet-name>
    <url-pattern>/CadastrarCasamentoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartServlet</display-name>
    <servlet-name>StartServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.StartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartServlet</servlet-name>
    <url-pattern>/StartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarConvidadoServlet</display-name>
    <servlet-name>CadastrarConvidadoServlet</servlet-name>
    <servlet-class>br.com.ifpe.tads.projetoCasamentoWeb.servlets.CadastrarConvidadoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarConvidadoServlet</servlet-name>
    <url-pattern>/CadastrarConvidadoServlet</url-pattern>
  </servlet-mapping>
</web-app>